@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/photo-1454388683759-ee76c15fee26.jpg'); color: white; background-repeat: no-repeat; background-size: cover; background-position: center;">
    <h1 style="text-align:right; font-family:Jazz LET, fantasy;"><i>Four Seasons</i></h1>
    <br />
    <p class="lead" style="text-align:right;">Admin: Sayed | Email: sayed@gmail.com | Password: Sayed@123%</p>
    <br />  
    <p class="btn btn-primary btn-lg" style="background-color:grey; text-align:center;float:right; color:White;">@Html.ActionLink("Admin","Index","Roles")</p>
    
    <br /><br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>
            Lohagara
            <br />
            Chunati, Chittagong Division, Bangladesh
            <br />
            Call 01841-474707
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Goal</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>