@model MvcProject_Sayed.Models.Customer
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Customer Name:</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b>Address:</b></td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td><b>Email Address:</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Phone No:</b></td>
                    <td>@Model.PhoneNo</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

